# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore log files
*.log

# Ignore build artifacts
dist/
build/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore coverage directory
coverage/

# Ignore public directory
public/